﻿@model Vacations.API.ViewModels.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <h2>Вход на сайт</h2>

    <a asp-action="Register" asp-controller="Account">Регистрация</a>

    <form asp-action="Login" asp-controller="Account">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            <div>
                <label asp-for="LoginString">Введите Логин или Email</label>
                <input asp-for="LoginString" type="text" />
                <span asp-validation-for="LoginString" />
            </div>
            <div>
                <label asp-for="Password">Введите пароль</label>
                <input type="text" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>

</body>
</html>